body {
	 font-family: 'PT Sans Narrow', sans-serif;
	 padding-top: 50px;
	 color: #000;
	 font-size: 13pt;
}

.app {
}

.navbar-brand {
	 font-weight: bold;
}

.navbar-fixed-bottom {
	 min-height: 80px;
	 padding: 8px;
}