<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #fff;">
	<div class="container" style="width: 100%; padding: 10px;">
		<div class="navbar-header" style="margin-left: 10px;">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-header">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand logo-header" data-bind="page-href: '/'">
				KUB
			</a>
		</div>
		<div id="navbar-header" class="navbar-collapse collapse" style="padding-top: 5px;">
			<ul class="nav navbar-nav navbar-right" style="margin-right: 75px;">
				<li><a data-bind="page-href: '/sweepstakes/list?filter=all'">ALL SWEEPSTAKES</a></li>
				<li><a data-bind="page-href: '/sweepstakes/list?filter=threepoint'">3-POINT SWEEPSTAKES</a></li>
				<li><a data-bind="page-href: '/sweepstakes/list?filter=winners'">WINNER'S CIRCLE</a></li>
				<li><a data-bind="page-href: '/account'">MY ACCOUNT</a></li>
			</ul>
		</div>
	</div>
</nav>
